@import "../01-config/mixins";

.clearfix {
  @include clearfix;
}
.left {
  float: left !important;
}
.right {
  float: right !important;
}

@each $point, $screen in $breakpoints {
    @if map-has-key($devices, $screen) {
        @include breakpoint(#{$screen}, 'min') {
            .#{$point}\:left {
                float: left !important;
              }
            .#{$point}\:right {
                float: right !important;
            }
        }
    }
}