
@each $name, $colors in $color-collection {
  @each $key, $color in $colors {
    @if $color != null {
      .bg-#{$name}-#{$key} {
        background-color: $color;
      }
    } @else {
      .bg-#{$name} {
        background-color: $key;
      }
    }
  }
}

@each $name, $colors in $color-collection {
  @each $key, $color in $colors {
    @if $color != null {
      .text-#{$name}-#{$key} {
        color: $color;
      }
    } @else {
      .text-#{$name} {
        color: $key;
      }
    }
  }
}

@each $name, $colors in $color-collection {
  @each $key, $color in $colors {
    @if $color != null {
      .border-#{$name}-#{$key} {
        border-color: $color;
      }
    } @else {
      .border-#{$name} {
        border-color: $key;
      }
    }
  }
}

@each $name, $colors in $color-collection {
  @each $key, $color in $colors {
    @if $color != null {
      .placeholder-#{$name}-#{$key} {
        &::-webkit-input-placeholder {
          color: $color;
        }
      }
    } @else {
      .placeholder-#{$name} {
        &::-webkit-input-placeholder {
          color: $key;
        }
      }
    }
  }
}

@each $name, $colors in $color-collection {
  @each $key, $color in $colors {
    @if $color != null {
      .caret-#{$name}-#{$key} {
        caret-color: $color;
      }
    } @else {
      .caret-#{$name} {
        caret-color: $key;
      }
    }
  }
}
