/*
 * ==========================================================================
 * LightCSS - Padding
 * ==========================================================================
*/

/* Padding */
.p-px {
  padding: 1px
}
.p-full {
  padding: 100%;
}
.p-half, .p-1\/2 {
  padding: 50%
}
/* Padding top */
.pt-px {
  padding-top: 1px
}
.pt-full {
  padding-top: 100%;
}
.pt-half, .pt-1\/2 {
  padding-top: 50%
}
/* Padding right */
.pr-px {
  padding-right: 1px
}
.pr-full {
  padding-right: 100%;
}
.pr-half, .pr-1\/2 {
  padding-right: 50%
}
/* Padding bottom */
.pb-px {
  padding-bottom: 1px
}
.pb-full {
  padding-bottom: 100%;
}
.pb-half, .pb-1\/2 {
  padding-bottom: 50%
}
/* Padding left */
.pl-px {
  padding-left: 1px
}
.pl-full {
  padding-left: 100%;
}
.pl-half, .pl-1\/2 {
  padding-left: 50%
}

@each $i in $steps {
  $classmame: classname($i, '.', '\\.' );
  .p-#{$classmame} {
    padding: #{$i/4}rem;
  }
  .pt-#{$classmame} {
    padding-top: #{$i/4}rem;
  }
  .pr-#{$classmame} {
    padding-right: #{$i/4}rem;
  }
  .pb-#{$classmame} {
    padding-bottom: #{$i/4}rem;
  }
  .pl-#{$classmame} {
    padding-left: #{$i/4}rem;
  }

  .px-#{$classmame} {
    padding-right: #{$i/4}rem;
    padding-left: #{$i/4}rem;
  }
  .py-#{$classmame} {
    padding-top: #{$i/4}rem;
    padding-bottom: #{$i/4}rem;
  }
}

@each $point, $screen in $breakpoints {
  /*! Padding Breakpoint: #{$point} */
  @if map-has-key($queries, $screen) {
    @include breakpoint(#{$screen}, 'min') {
      @each $i in $steps {
        $classmame: classname($i, '.', '\\.' );
        .#{$point}\:p-#{$classmame} {
          padding: #{$i/4}rem;
        }
        .#{$point}\:pt-#{$classmame} {
          padding-top: #{$i/4}rem;
        }
        .#{$point}\:pr-#{$classmame} {
          padding-right: #{$i/4}rem;
        }
        .#{$point}\:pb-#{$classmame} {
          padding-bottom: #{$i/4}rem;
        }
        .#{$point}\:pl-#{$classmame} {
          padding-left: #{$i/4}rem;
        }

        .#{$point}\:px-#{$classmame} {
          padding-right: #{$i/4}rem;
          padding-left: #{$i/4}rem;
        }
        .#{$point}\:py-#{$classmame} {
          padding-top: #{$i/4}rem;
          padding-bottom: #{$i/4}rem;
        }
      }
    }
  }
}
