$radius: 0, 0.5, 1, 1.5, 2, 2.5, 3, 3.5, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 16,
20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 72, 80, 96;

$radius_styles: (
        'rounded' : 0.25rem,
        'none'    : 0,
        'sm'      : .125rem,
        'lg'      : .5rem,
        'md'      : .375rem,
        'xl'      : .75rem,
        '3xl'     : 1.5rem,
        '2xl'     : 1rem,
        'full'    : 9999px,
        'half'    : 50%,
        '1\\/2'   : 50%,
);

@each $name, $size in $radius_styles {
  .radius{
    &-#{$name} {
      border-radius: #{$size}
    }
    &-t {
      &-#{$name} {
        border-top-right-radius: #{$size};
        border-top-left-radius: #{$size};
      }
      &r-#{$name} {
        border-top-right-radius: #{$size};
      }
      &l-#{$name} {
        border-top-left-radius: #{$size};
      }
    }
    &-r {
      &-#{$name} {
        border-top-right-radius: #{$size};
        border-bottom-right-radius: #{$size};
      }
    }
    &-b {
      &-#{$name} {
        border-bottom-right-radius: #{$size};
        border-bottom-left-radius: #{$size};
      }
      &r-#{$name} {
        border-bottom-right-radius: #{$size};
      }
      &l-#{$name} {
        border-bottom-left-radius: #{$size};
      }
    }
    &-l {
      &-#{$name} {
        border-top-left-radius: #{$size};
        border-bottom-left-radius: #{$size};
      }
    }
  }
}

@each $i in $radius {
  $classmame: classname($i, '.', '\\.');
  .radius {
    &-#{$classmame} {
      border-radius: #{$i/4}rem;
    }
    &-t {
      &-#{$classmame} {
        border-top-right-radius: #{$i/4}rem;
        border-top-left-radius: #{$i/4}rem;
      }
      &r-#{$classmame} {
        border-top-right-radius: #{$i/4}rem;
      }
      &l-#{$classmame} {
        border-top-left-radius: #{$i/4}rem;
      }
    }
    &-r {
      &-#{$classmame} {
        border-top-right-radius: #{$i/4}rem;
        border-bottom-right-radius: #{$i/4}rem;
      }
    }
    &-b {
      &-#{$classmame} {
        border-bottom-right-radius: #{$i/4}rem;
        border-bottom-left-radius: #{$i/4}rem;
      }
      &r-#{$classmame} {
        border-bottom-right-radius: #{$i/4}rem;
      }
      &l-#{$classmame} {
        border-bottom-left-radius: #{$i/4}rem;
      }
    }
    &-l {
      &-#{$classmame} {
        border-top-left-radius: #{$i/4}rem;
        border-bottom-left-radius: #{$i/4}rem;
      }
    }
  }
}
