/*
 * ==========================================================================
 * LightCSS - Variables
 * ==========================================================================
*/

@import "variables/color";


/*
 * ==========================================================================
 * Media Queries - Variables
 * ==========================================================================
*/

$queries: (
  "phone"       : 640px,
  "tablet"      : 768px,  // Medium equals medium-768
  "tablet-wide" : 1024px,
  "desktop"     : 1280px, // Large
  "desktop-wide": 1536px, // Extra-Large
);

$breakpoints: (
    "sm": "phone",
    "md": "tablet",
    "lg": "tablet-wide",
    "xl": "desktop",
    "xxl": "desktop-wide",
);

$nobreak: "sm";

$steps : 0, 0.5, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 16,
20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 72, 80, 96;

$grid_steps: 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12;
$grid_gaps: 0, 0.5, 1, 1.5, 2, 2.5, 3, 3.5, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 16,
20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 72, 80, 96;

$position: (
        '0'   :  0,
        '0\.5': .125rem,
        '2'   :  0.5rem,
        '4'   :  1rem,
        '6'   :  1.5rem,
        '8'   :  2rem,
        '10'  : 2.5rem,
        '12'  : 3rem,
        '14'  : 3.5rem,
        '16'  : 4rem,
        '18'  : 4.5rem,
        'px'  : 1px,
        'half': 50%,
        '1\/2': 50%,
        'full': 100%

)
